My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "a9b687f8-3ef0-4702-8a20-8dc5de2e638c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "f5eb1205-ac84-49ee-a663-dc68e43e49b9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "subscribers",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "active",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "110b590f-40e3-481f-a09e-5d1f9f776095",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "ju2UkRdMOuiZOWR5",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://gnews.io/api/v4/search?q={{ $json.interest }}&lang=en&max=10&apikey=d33af552f26728ee484f5cb7ce419ea3",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1008,
        48
      ],
      "id": "011a305f-95b3-4029-b72a-10c47bd8ee53",
      "name": "HTTP Request",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional daily news summarizer.\n\nUser interest: {{ $json.interest }}\n\nHere are today's articles:\n{{ JSON.stringify($json.articles.map(a => ({\n  title: a.title,\n  description: a.description\n}))) }}\n\nWrite exactly 5 short bullet points about the news related to the user's interest.\nDo not ask questions.\nDo not explain JSON.\nKeep it clean and concise.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1584,
        -80
      ],
      "id": "57b1553f-f35b-43a0-8851-93461f609762",
      "name": "Basic LLM Chain",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Daily {{ $json.interest }} News",
        "message": "={{ $json.text.replace(/\\n/g, \"<br>\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1936,
        96
      ],
      "id": "ecfbe99b-a499-487b-9544-cae906c94a33",
      "name": "Send a message",
      "webhookId": "aec7419d-18a0-447e-ba24-95a8b8379cac",
      "credentials": {
        "gmailOAuth2": {
          "id": "m6QlIH1vdL1teJQk",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "meta-llama/llama-3-8b-instruct",
          "mode": "list",
          "cachedResultName": "meta-llama/llama-3-8b-instruct"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1712,
        64
      ],
      "id": "d586d29b-476d-4391-bdd6-710de09ff3c7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "gKle4qOKux6zsOim",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        -224
      ],
      "id": "bc539497-71e8-4a12-94d3-7057ffd97fa2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "let output = [];\n\nfor (const item of items) {\n\n  let raw = item.json.interests;\n  if (!raw) continue;\n\n  let match = raw.match(/\\[.*?\\]/);\n  let interests = match ? JSON.parse(match[0]) : [];\n\n  for (const i of interests) {\n    output.push({\n      email: item.json.email,\n      interest: i\n    });\n  }\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        -192
      ],
      "id": "32fdb298-6d0e-43e9-88de-00c5ec893cb6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1312,
        -64
      ],
      "id": "9c538e12-0b1a-4170-ae58-53ad11869272",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1872,
        -368
      ],
      "id": "a8dbfc59-8760-46c6-af75-3f2dc770c0a9",
      "name": "Merge1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "dca193b9-8683-4869-a02f-8b557c6cac56",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d40eeb5b5dfcac9cc8cc9d726c6fe6a106254d9db1446ba58fd8faf8479ecaa2"
  },
  "id": "HFelwoFz8w75FZnO",
  "tags": []
}